.container {
  display: flex;
  gap: 1px;
}

.inputs {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.delete_btn {
  width: 24px;
  border-radius: 0 4px 4px 0;
  background: var(--color-base-700);
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete_btn > * {
  flex-shrink: 0;
}