.container {
  position: relative;
  height: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.toolbar_canvas {
  flex-shrink: 1;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}