.container {
  background: var(--color-base-800);
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.resizer {
  height: 0;
  width: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  cursor: row-resize;
}

.resizer_handle {
  height: 4px;
  width: 100%;
  transition: background 0.2s;
}

.resizer_handle:hover {
  background: var(--color-base-700);
}

.error {
  padding: 16px;
}