.container {
  height: 100vh;
  width: 100vw;
  background: var(--color-base-1000);
  display: flex;
  user-select: none;
}

.toasts {
  position: fixed;
  left: 0;
  right: 0;
  padding: 8px;
  pointer-events: none;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  gap: 8px;
  align-items: center;
  z-index: 999;
}