.output {
  border-top: 1px solid var(--color-base-700);
  background: var(--color-base-800);
}

.controls {
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-base-700);
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.group__left,
.group__right {
  height: 100%
}

.tab__button,
.tab__button--active {
  height: 100%;
  padding: 0 16px;
  border: 0;
  margin: 0;
}

.tab__button {
  background: none;
  color: var(--color-base-400);
}

.tab__button:hover {
  color: var(--color-base-100);
}

.tab__button--active {
  background: var(--color-base-700);
  color: var(--color-base-100);
}